<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BUS_RESERVATION_SYSTEM.Properties.Settings.BusTESTDbConnectionString"
            connectionString="Data Source=DESKTOP-AQ8T057\SQLEXPRESS;Initial Catalog=BusTESTDb;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>